body {
	background-color: var(--white);
	font-family: var(--font-family), sans-serif;
	font-size: 18px;
	line-height: 1.7;
	color: var(--gray-main);
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition-duration);
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h1,
h2,
h3,
h4 {
	line-height: 100%;
}

h4 {
	font-weight: 500;
	color: var(--dark-gray);
}

h2,
h3,
h4 {
	color: var(--gray-accent);
}

@media (max-width: 1024px) {
	h2 {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 24px;
	}
}

li {
	display: inline-flex;
}

a {
	font-size: 20px;
	line-height: 1;
}
